# Thư viện (Bắt buộc phải có)
node_modules/

# File build của Next.js (Bắt buộc)
.next/
out/

# Các file môi trường (Cực kỳ quan trọng cho bảo mật)
.env*.local
.env

# Debug và log rác
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File hệ thống
.DS_Store